/* The Universal Selector has been used here to cancel the browser default margins and */
/* padding for every page element.  This ensures that only assigned */
/* margin and padding values are implemented when viewing pages. */
* {margin:0;padding:0}
page{


}
body{
width:900px;
background-color:#A4573C;
margin:auto;
/*margin auto makes all margins as equal as they can be (e.g. centre page)   */
}
header{
font-size:20px;
height:90px;
font-family:calibri;
color:black;
background-color:#FFB71F;
border-bottom-color:#A64F03;
margin:10px;


}
main{
margin:10px;
background-color:#FFB71F;

}
section{

}
footer{
background-color:#FFB71F;
height:90px;
margin:10px;


}

/* below, are the nav styles */
nav{
height:45px;
background-color:#F29F05;
font-size:18px;
margin:10px;
}
nav ul{
list-style-type:none;

}
nav ul li {
float:left;
width:140px;
text-align:center;

}
nav ul li a{
display:block;
padding:7px;

}
nav ul li a:hover{
background-color:#F28705;
color:white;

font-size:22px;
}

h1{
padding:3px;
}
h2{


}
h3{



}
h4{
font-size:12px;
height:70px;
margin-left:10px;
margin-top:10px;
margin-right:10px;
}
h5{


}
h6{


}
p{
font-size:16px;
font-family:calibri;
color:black;
background-color:;
padding:2px;
}
hr{
background-color:#FFB71F;
border:solid #8B4513 2px;

}
form{
line-height:20px;
margin:5px;
}


/* classes   usually images*/

.imageBanner{
float:right;
height:90px;
width:550px;
}

.thaiIngredient{
width:160px;
height:120px;
float:left;
padding:5px;
}
.thaiCurries{
width:200px;
height:150px;
float:right;
}
.imageStirFry{
height:15-px;
width:290px;

}
.Spices{
height:150px;
width:180px;
margin:5px;
}

.pizzaImage{
width:100px;
height:70px;
margin-left:10px;
margin-top:10px;
margin-right:10px;
margin-bottom:0px;
}
.pastaImages{
width:190px;
height:120px;
margin:10px;
}
.wokIM{
float:right;
width:300px;
height:200px;
margin-bottom:20px;
margin-left:20px;
}
.chineseSpacing{
marginleft:10px;
margin-right:10px;
margin-top:5px;
margin-bottom:5px;
padding:5px;
}
.indianIM{
width:170px;
height:200px;
}
.smallThai{
width:90px;
height:90px;
margin-bottom:10px;
margin-left:5px;
margin-right:5px;
margin-top:10px;
}
.curryButton{
height:50px;
width:120px;
margin:5px;
}
.indianCurry{
width:300px;
height:300px;
margin-left:20px;
margin-bottom:20px;
float:right
}



/* IDs,  usually text*/

#surveyDone{
text-align:center;
padding:5px;
/*display:none;

}

#Survey{
display:block;
*/
}



#LeftAd{
float:left;
background-color:#FFB71F;
width:100px;
padding:10px;
}
#rightAd{
float:right
}
#favFoods{
width:300px;
height:130px;}
#pastaDiv{
margin:10px;
background-color:#FFB71F;}
#indianMargins{
margins:10px;}
#student{
float:left;
padding-bottom:20px;
padding-right:20px;
}
#thaiIngretients{
float:right;
padding:25px;
float:right;
background-color:#FFB71F;
height:380;
line-height:25px;

width:650px;
}

#italianImages{
height:140px;
width:140px;
margin-right:20px;
margin-left:20px;

margin-bottom:40px;
margin-top:30px;
}

#Curries{
clear:both;
padding:20px;
background-color:#FFB71F;

line-height:25px;
}

#intro{
background-color:#FFB71F;
padding:10px;
}
#headerH1{
padding-left:40px;
padding-top:50px;

font-size:30px;
height:90px;
font-family:calibri;
color:black;
background-color:#FFB71F;
border-bottom-color:#A64F03;

}

#BorderedBox{
border:solid black 2px;
margin:5px;
}
#basicDiv{

background-color:#FFB71F;

}

#notweb{
float:right;
}

#largeThai{
width:300px;
height:300px;
margin-right:20px;
margin-bottom:20px;
float:left;

}

#curryButtons{
margin-left:240px;
margin-right:240px;
}
#chicken,#veg,#lamb{
padding:20px;
line-height:25px;
}
#footerText{
font-size:14px;
margin-left:5px;
}
